.categories-title {
	text-align: center;
	margin: 0 10rem;
}

.nav-secondary-item {
	color: #7c7573;
}

.grid-images-categories img {
	position: relative;
	width: 100%;
	height: 100%;
}

.order-by-icon {
	display: flex;
	align-items: center;
}

.order-by-icon::before {
	background-image: url('/assets/icons/ascending-sort.svg');
	background-size: 10px 20px;
	display: inline-block;
	width: 10px;
	height: 20px;
	content: '';
	margin-right: 0.2rem;
}
