.faq {
	padding: 2rem;
	margin: 0 2rem;

	&__title {
		text-align: center;
		color: #cf2c30;
		padding-bottom: 1rem;
	}

	&__question {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 2rem;
		border-right: 0.2rem solid #cf2c30;
	}

	&__answer {
		padding-left: 1rem;
		margin-top: 1rem;
	}

	&__info {
		position: relative;
		display: flex;
		align-items: center;
		color: #cf2c30;

		&::before {
			content: '';
			display: flex;
			background-image: url('../assets/img/icons/chevron-right-faq.svg');
			width: 15px;
			height: 15px;
			margin-right: 0.05rem;
		}
	}

	&__icon-deliver::before {
		content: '';
		display: flex;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
		background-image: url('../assets/img/icons/shipped.svg');
	}
	&__icon-refund::before {
		content: '';
		display: flex;
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		background-image: url('../assets/img/icons/calendar.svg');
	}
	&__icon-payment::before {
		content: '';
		display: flex;
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		background-image: url('../assets/img/icons/secure-payment.svg');
	}
	&__icon-support::before {
		content: '';
		display: flex;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
		background-image: url('../assets/img/icons/information.svg');
	}
	&__icon-warranty::before {
		content: '';
		display: flex;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
		background-image: url('../assets/img/icons/check-mark.svg');
	}
}

.grid-faq {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem 0;
}
