.hero {
	display: flex;
	justify-content: center;
	background-position: top;
	background-size: cover;
	height: 30rem;
	margin-bottom: 1rem;
	text-align: center;
	color: white;
	filter: brightness(0.9);

	h1 {
		padding-top: 5rem;
		font-size: 2.4rem;
		text-decoration: none;
	}

	&-link {
		text-decoration: none;
	}
}

.home-hero {
	background-image: url(../assets/img/hero.jpg);
}

.faq-hero {
	background-image: url(../assets/img/faq-hero.jpg);

	h1 {
		padding-top: 5rem;
		font-size: 2.4rem;
		text-decoration: none;
	}
}
