.images {
	&__info {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		color: white;
	}

	&__cta {
		width: 100%;
		text-transform: uppercase;
		padding: 0.2rem;
		text-decoration: none;
		color: black;
		background-color: lightgrey;
		display: block;
		text-align: center;
		margin-top: 0.5rem;
	}
}

.social-img {
	height: 1.5rem;
	padding-right: 1rem;
}
